@import "../../scss/variables";

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: inherit;
  max-height: inherit;
  color: $text;
  background: $backgroundProject;
  animation: 1s ease-out 0s 1 slideInFromDown;
}

@keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.projectsPageTitle {
  font-size: 225%;
  margin: 2%;
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0;
  padding: 0;
}

.project {
  height: auto;
  margin: 1%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $backgroundProject;
  color: $text;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px $shadow-strong;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.projectCard {
  width: 30%;
}

.projectCardMobile {
  width: 90%;
}

.project:hover {
  box-shadow: 0px 0px 10px 0px $shadow-strong;
}

.projectImage {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.projectImage img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.projectInfo {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectTitle {
  font-size: 150%;
  margin: 0;
  padding: 0;
}

.projectTitle h2 {
  margin: 1% 0;
  padding: 0;
  text-align: center;
}

.projectDescription {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.projectDescription p {
  margin: 1%;
  padding: 0;
  text-align: center;
}

.projectLink {
  font-size: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projectLink a {
  text-decoration: none;
  font-weight: bold;
  margin: 2%;
  padding: 0;
}

.projectLink a:visited {
  color: $linkVisited;
}

.projectLink a:hover {
  color: $linkHover;
  text-decoration: underline;
}

.projectLink a:active {
  color: $linkActive;
}

.projectLink i {
  margin: 0;
  padding: 0;
}