@import "src/scss/variables";

.socialBarIcon{
  color: $text;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
  margin: 25% 0;
}

.socialBar {
  position: fixed;
  box-shadow: 10px 10px 8px $shadow;
  right: 0;
  z-index: 50;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  margin-top: 10%;
  width: 4%;
  background: $navbarRight;
}

.socialBarMobile {
  position: fixed;
  box-shadow: 10px 10px 8px $shadow;
  bottom: 0;
  z-index: 50;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 7vh;
  width: 100%;
  background: $navbarRight;
}

a.social {
  transition: transform 250ms;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: #000000;
}

a.github {
  color: #171515;
}

a.linkedin {
  color: #0072b1;
}

a.envelope {
  color: #171515;
}