@import "../../scss/variables";

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: inherit;
  max-height: inherit;
  color: $text;
  background: $backgroundAbout;
  padding-left: 9%;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  font-size: 150%;
}

.column {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  font-size: 120%;
}

.section {
  width: 45%;
}

.sectionMobile {
    width: 90%;
    display: flex;
}

.aboutTitle {
  font-size: 225%;
}

.aboutTitle h1{
  margin-bottom: 0;
}
