@import "../../scss/variables";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  max-height: inherit;
  color: $text;
  background: $backgroundHome;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.hello {
  font-size: 225%;
}

.helloMobile {
  font-size: 180%;
}

#text:after {
  content: "";
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    content: "Hello!";
  }
  20% {
    content: "Namaste!";
  }
  40% {
    content: "Hola!";
  }
  60% {
    content: "Bonjour!";
  }
  80% {
    content: "Salve!";
  }
  100% {
    content: "Hello!";
  }
}

.image img{
  box-shadow: 15px 15px 8px $shadow;
  z-index: 50;
  width: auto;
  height: 47vh;
  overflow: hidden;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.imageMobile img{
  box-shadow: 15px 15px 8px $shadow;
  z-index: 50;
  width: auto;
  height: 40vh;
  overflow: hidden;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.descriptionHome {
  width: 70%;
  font-size: 125%;
  font-style: italic;
}

.descriptionHomeMobile {
  width: 90%;
  font-size: 105%;
  font-style: italic;
}