$primary: #0caadc;
$secondary: #db730b;

$border-color: #443a3a;
$shadow: #474444;
$success: #4caf50;
$warning: #ff9800;
$error: #f44336;
$info: #31e5fd;
$text: #F3E5E5FF;
$text-secondary: #bcbcbc;

$backgroundHome: #52758b;
$backgroundProject: #469273;
$backgroundBlog: #a87242;
$backgroundAbout: #5e467b;
$background: #191919;

$navbarLeft: #473f3f;
$navbarRight: #c1b3b3;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "error": $error,
        "background": $background,
        "backgroundHome": $backgroundHome,
        "backgroundProject": $backgroundProject,
        "backgroundBlog": $backgroundBlog,
        "backgroundAbout": $backgroundAbout,
        "navbarLeft": $navbarLeft,
        "navbarRight": $navbarRight,
        "shadow": $shadow,
);